Here we read the file N5, and make it into the pandas dataframe.
sentence, level(N1-N5), source(V,G,R)

Vocabulary files can be read easily.

In [1]:
import pandas as pd
import os
from os import path

In [2]:
levels = ['N5', 'N4', 'N3', 'N2', 'N1']
sources = ['V', 'G', 'R']

In [23]:
# big df test
df = None
for level in levels:
    for source in sources:
        file_name = f'./{level}{source}.txt'
        file_name = path.realpath(file_name)
        df_temp = pd.read_csv(file_name, header=None, names=['sentence'])
        df_temp['level'] = level
        df_temp['source'] = source
        df = pd.concat([df, df_temp])

In [27]:
df['sentence'].duplicated().value_counts()

sentence
False    879
Name: count, dtype: int64

In [26]:
df.drop_duplicates(subset='sentence', inplace=True)
df.reset_index(inplace=True, drop=True)

df.to_csv('test.csv')

In [28]:
df.describe()

                 sentence level source
count                 879   879    879
unique                879     5      3
top     しゃしんはかばんの下にありました。    N1      R
freq                    1   202    443

In [33]:
# select only a certain part

df[df['source'] == 'V']

                                   sentence level source
0                         しゃしんはかばんの下にありました。    N5      V
1                                 あしたは雨ですか。    N5      V
2                            きょうしつで書いてください。    N5      V
3                           しゃしんははこの中にあります。    N5      V
4                               このいすは小さいです。    N5      V
..                                      ...   ...    ...
715   調味料を変えたのか、この料理はいつもと味が食い違っているように感じる。    N1      V
716      雑誌で紹介されてから、この商品への過密な注文が続いているらしい。    N1      V
717     水質汚染に関して人々の抗議が過密になり、政府は対策を迫られている。     N1      V
718  今回の出張は過密なスケジュールで、ゆっくり食事する時間もなさそうだ。     N1      V
719      春になると、この池の周りには、色とりどりの花が過密に咲き乱れる。    N1      V

[261 rows x 3 columns]